section#security {
    .border(border4);

    .grid {
        .cols {
            background-repeat: no-repeat;
            background-size: 50% auto;

            &:nth-child(even) {
                background-position: 100% 0;
            }
            &:nth-child(odd) {
                background-position: 0% 0;
            }

            &.security1 {
                background-image: url('/images/security1.svg');
            }
        }
    }
}

