section#security,
section#development,
section#sysadmin {
    padding: 0 0.5rem;
    color: #101010;

    h1 {
        .font1(1.75rem);
        margin: 2.0rem 0;
        text-transform: uppercase;
    }

    h2 {
        .font1(1.50rem);
        text-transform: uppercase;
    }

    p {
        .font1(1.6rem);
        line-height: 2.2rem;
    }

    ul {
        li {
            .font1(1.6rem);
        }
    }
}

