@import 'normalize-less/normalize.less';
@import 'fonts.less';
@import 'animations.less';

@color_blue: #002255;
@color_gray: #b3b3b3;

body {
    background-image: url('/images/mosaic.svg');
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:stretch;
    align-content:stretch;
}

.clearfix {
    clear: both;
}

@import '01-logo.less';
@import '02-topics.less';
@import '03-about.less';

//@import 'details.less';
//@import 'contact.less';

