@import 'normalize-less/normalize.less';
@import 'fonts.less';
@import 'animations.less';

@color_blue: #002255;
@color_gray: #b3b3b3;

body {
    background-image: url('/images/mosaic.svg');
}

.clear {
    clear: both;
}

section#front {
    @logo_width: 616px;
    @logo_height: 192px;

    height: 66vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: strech;
    align-items: center;

    div.wrapper {
        text-align: center;

        div.text {
            background-image: url('/images/text.svg');
            background-size: 100%;
            display: inline-block;

            @media (min-width: 900px) {
                width: @logo_width;
                height: @logo_height;
            }
            @media (min-width: 500px) and (max-width: 899px) {
                width: @logo_width/1.5;
                height: @logo_height/1.5;
            }
            @media (max-width: 499px) {
                width: @logo_width/2.5;
                height: @logo_height/2.5;
            }
        }

        div.logo {
            display: inline-block;
            .generic(@width;@height) {
                background-image: url('/images/logo.svg');
                background-size: 100%;
                width: @width;
                height: @height;
            }
            .gray(@height) {
                float:left;
                background-position: 0px @height;
                animation: rotation1 12s linear infinite;
            }
            .blue {
                animation: rotation2 12s linear infinite;
            }

            @media (min-width: 900px) {
                width: @logo_height;
                height: @logo_height;
                div.gray {
                    .generic(@logo_height,@logo_height);
                    .gray(@logo_height);
                }
                div.blue {
                    .generic(@logo_height,@logo_height);
                }
            }
            @media (min-width: 500px) and (max-width: 899px) {
                width: @logo_height/1.5;
                height: @logo_height/1.5;
                div.gray {
                    .generic(@logo_height/1.5,@logo_height/1.5);
                    .gray(@logo_height/1.5);
                }
                div.blue {
                    .generic(@logo_height/1.5,@logo_height/1.5);
                }
            }
            @media (max-width: 499px) {
                display: none;
            }
        }
    }

    div.icons {
        padding-top: 5vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: strech;
        align-items: center;

        @logo_width: 100px;
        @logo_height: 100px;

        &>div {
            text-align: center;
            padding: 0rem 2.0rem;

            div.logo {
                margin: 0 auto;
                background-image: url('/images/icons.svg');
                background-size: 100%;
                border-radius: 50%;
                box-shadow: 0rem 0rem 0.4rem #000000 inset;
                transition-duration: 1s;

                &:hover {
                    transform: rotate(360deg);
                }

                @media (min-width: 900px) {
                    width: @logo_width;
                    height: @logo_height;
                }
                @media (min-width: 500px) and (max-width: 899px) {
                    width: @logo_width/1.5;
                    height: @logo_height/1.5;
                }
                @media (max-width: 499px) {
                    width: @logo_width/2.5;
                    height: @logo_height/2.5;
                }
            }
            div.text {
                h2>a {
                    text-decoration: none;
                    &:hover {
                        color: lighten(spin(@color_blue,180),10%);
                    }

                    @media (min-width: 900px) {
                        .font1(1.6rem);
                    }
                    @media (min-width: 500px) and (max-width: 899px) {
                        .font1(1.4rem);
                    }
                    @media (max-width: 499px) {
                        display: none;
                    }
                }
            }
        }

        div.sysadmin {
            div.logo {
                background-color: lighten(@color_blue,30%);
                background-position: 0px 0px;
                &:hover {
                    background-color: spin(lighten(@color_blue,30%),180);
                }
            }
            h2>a {
                color: lighten(@color_blue,30%);
            }
        }
        div.security {
            div.logo {
                background-color: lighten(@color_blue,10%);
                &:hover {
                    background-color: spin(lighten(@color_blue,30%),180);
                }

                @media (min-width: 900px) {
                    background-position: 0px @logo_width;
                }
                @media (min-width: 500px) and (max-width: 899px) {
                    background-position: 0px @logo_width/1.5;
                }
                @media (max-width: 499px) {
                    background-position: 0px @logo_width/2.5;
                }
            }
            h2>a {
                color: lighten(@color_blue,10%);
            }
        }
        div.development {
            div.logo {
                background-color: lighten(@color_blue,20%);
                &:hover {
                    background-color: spin(lighten(@color_blue,30%),180);
                }

                @media (min-width: 900px) {
                    background-position: 0px @logo_width*2;
                }
                @media (min-width: 500px) and (max-width: 899px) {
                    background-position: 0px @logo_width*2/1.5;
                }
                @media (max-width: 499px) {
                    background-position: 0px @logo_width*2/2.5;
                }
            }
            h2>a {
                color: lighten(@color_blue,20%);
            }
        }
    }
}

section#details {
    width: 100%;
    min-height: 25vh;
    box-sizing: border-box;

    background-color: @color_blue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;

    div.col {
        @media (min-width: 900px) {
            max-width: 26.0rem;
        }
        @media (min-width: 600px) and (max-width: 899px) {
            max-width: 18.0rem;
        }
        @media (max-width: 599px) {
            max-width: 40rem;
            padding: 0em 2.0em;
        }

        color: #ffffff;
        h3>a {
            color: @color_gray;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            @media (min-width: 900px) {
                .font1(1.6rem);
            }
            @media (min-width: 500px) and (max-width: 899px) {
                .font1(1.3rem);
            }
            @media (max-width: 499px) {
                .font1(1.3rem);
            }

            &:hover {
                color: lighten(spin(@color_blue,180),10%);
            }
        }
        p {
            line-height: 1.8rem;
            margin-bottom: 1.2rem;
            @media (min-width: 900px) {
                .font1(1.5rem);
            }
            @media (min-width: 500px) and (max-width: 899px) {
                .font1(1.3rem);
            }
            @media (max-width: 499px) {
                .font1(1.3rem);
            }
        }
        ul {
            padding-left: 1.5rem;
            list-style: none;
            li {
                font-weight: normal;
                line-height: 2.5rem;
                @media (min-width: 900px) {
                    .font1(1.45rem);
                }
                @media (min-width: 500px) and (max-width: 899px) {
                    .font1(1.3rem);
                }
                @media (max-width: 499px) {
                    .font1(1.3rem);
                }
            }
        }
    }
}

section#contact {
    width: 100%;
    min-height: 9vh;
    box-sizing: border-box;

    box-shadow: 0rem 0.2rem 0.4rem #000000 inset;
    background-color: darken(@color_blue,5%);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;

    @media (max-width: 599px) {
        padding: 1.0em 0em;
    }

    div.left {
        dl {
            color: #ffffff;
            margin: 0em 2.0em;

            dt {
                float: left;
                width: 12.0em;
            }
            dd {
                padding-left: 10.0em;
            }
        }
    }

    div.right {
        ul {
            list-style: none;
            color: #ffffff;
            margin: 0em 2.0em;

            li {
                float: left;
                font-size: 3.0em;
                padding: 0em 0.25em;

                a {
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        color: spin(lighten(@color_blue,30%),180);
                    }
                }
            }
        }
    }
}

