@import 'normalize-less/normalize.less';
@import 'fonts.less';
@import 'animations.less';

@color_blue: #002255;
@color_gray: #b3b3b3;

body {
    background-image: url('/images/mosaic.svg');
}

section#front {
    @logo_width: 616px;
    @logo_height: 192px;

    width: 100%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: strech;
    align-items: center;

    div.wrapper {
        text-align: center;

        div.text {
            background-image: url('/images/text.svg');
            background-size: 100%;
            display: inline-block;

            @media (min-width: 900px) {
                width: @logo_width;
                height: @logo_height;
            }
            @media (min-width: 500px) and (max-width: 899px) {
                width: @logo_width/1.5;
                height: @logo_height/1.5;
            }
            @media (max-width: 499px) {
                width: @logo_width/2.5;
                height: @logo_height/2.5;
            }
        }

        div.logo {
            display: inline-block;
            .generic(@width;@height) {
                background-image: url('/images/logo.svg');
                background-size: 100%;
                width: @width;
                height: @height;
            }
            .gray(@height) {
                float:left;
                background-position: 0px @height;
                animation: rotation1 12s linear infinite;
            }
            .blue {
                animation: rotation2 12s linear infinite;
            }

            @media (min-width: 900px) {
                width: @logo_height;
                height: @logo_height;
                div.gray {
                    .generic(@logo_height,@logo_height);
                    .gray(@logo_height);
                }
                div.blue {
                    .generic(@logo_height,@logo_height);
                }
            }
            @media (min-width: 500px) and (max-width: 899px) {
                width: @logo_height/1.5;
                height: @logo_height/1.5;
                div.gray {
                    .generic(@logo_height/1.5,@logo_height/1.5);
                    .gray(@logo_height/1.5);
                }
                div.blue {
                    .generic(@logo_height/1.5,@logo_height/1.5);
                }
            }
            @media (max-width: 499px) {
                display: none;
            }
        }
    }
}

section#topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: strech;
    align-items: center;

    @logo_width: 128px;
    @logo_height: 128px;

    &>div {
        text-align: center;

        div.logo {
            margin: 0 auto;
            background-image: url('/images/icons.svg');
            background-size: 100%;
            border-radius: 50%;
            box-shadow: 0rem -0.25rem 1.0rem #000000 inset;

            @media (min-width: 900px) {
                width: @logo_width;
                height: @logo_height;
            }
            @media (min-width: 500px) and (max-width: 899px) {
                width: @logo_width/1.5;
                height: @logo_height/1.5;
            }
            @media (max-width: 499px) {
                width: @logo_width/2.5;
                height: @logo_height/2.5;
            }
        }
        div.text {
            h2 {
                @media (min-width: 900px) {
                    .font1(1.8rem);
                }
                @media (min-width: 500px) and (max-width: 899px) {
                    .font1(1.6rem);
                }
                @media (max-width: 499px) {
                    .font1(1.4rem);
                }
            }
        }
    }

    div.sysadmin {
        div.logo {
            background-color: lighten(@color_blue,30%);
            background-position: 0px 0px;
        }
        h2 {
            color: lighten(@color_blue,30%);
        }
    }
    div.security {
        div.logo {
            background-color: lighten(@color_blue,10%);
            @media (min-width: 900px) {
                background-position: 0px @logo_width;
            }
            @media (min-width: 500px) and (max-width: 899px) {
                background-position: 0px @logo_width/1.5;
            }
            @media (max-width: 499px) {
                background-position: 0px @logo_width/2.5;
            }
        }
        h2 {
            color: lighten(@color_blue,10%);
        }
    }
    div.development {
        div.logo {
            background-color: lighten(@color_blue,20%);
            @media (min-width: 900px) {
                background-position: 0px @logo_width*2;
            }
            @media (min-width: 500px) and (max-width: 899px) {
                background-position: 0px @logo_width*2/1.5;
            }
            @media (max-width: 499px) {
                background-position: 0px @logo_width*2/2.5;
            }
        }
        h2 {
            color: lighten(@color_blue,20%);
        }
    }
}

section#security {

}
