/* rotate the logo blue */
@-skrollr-keyframes animation1 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(360deg);
    }
}

/* rotate the logo gray */
@-skrollr-keyframes animation2 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(-360deg);
    }
}

/* down the menubar */
@-skrollr-keyframes animation3 {
    start {
        position: fixed;
        top: -2.75em;
    }
    top {
        position: fixed;
        top: 0em;
    }
}

/* slide 1: effects in text */
@-skrollr-keyframes animation4 {
    start {
        opacity: 0;
    }
    top {
        opacity: 0;
    }
    -200-top {
        opacity: 1;
    }
}

@-skrollr-keyframes animation5 {
    start {
        opacity: 0;
    }
    top {
        opacity: 0;
    }
    -220-top {
        opacity: 1;
    }
    -300-top {
        padding-top: 0rem;
    }
    -600-top {
        padding-top: 30rem;
    }
}

