/* rotate the logo blue */
@-skrollr-keyframes animation1 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(360deg);
    }
}

/* rotate the logo gray */
@-skrollr-keyframes animation2 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(-360deg);
    }
}

/* down the menubar */
@-skrollr-keyframes animation3 {
    start {
        position: fixed;
        top: -2.75em;
    }
    top {
        position: fixed;
        top: 0em;
    }
}

/* slide 1: effects in text */
@-skrollr-keyframes animation4 {
    start {
        opacity: 0;
    }
    top {
        opacity: 0;
    }
    -300-top {
        opacity: 1;
    }
}

@-skrollr-keyframes animation5 {
    start {
        opacity: 0;
    }
    -650-top {
        opacity: 0;
    }
    -1220-top {
        opacity: 1;
    }
    -1300-top {
        padding-top: 0rem;
        opacity: 1;
    }
    -1600-top {
        padding-top: 60vh;
        opacity: 0;
    }
}

@-skrollr-keyframes animation6 {
    start {
        opacity: 0;
    }
    -1500-top {
        opacity: 0;
    }
    -1600-top {
        opacity: 1;
    }
    -2400-top {
        padding-top: 0rem;
        opacity: 1;
    }
    -2700-top {
        padding-top: 60vh;
        opacity: 0;
    }
}

