@import "settings";
@import "foundation";

@mixin stretch { margin: 0; padding: 0; }
@mixin wfull { width:100%; }
@mixin hfull { height:100vh; }

.clear {
    clear: both;
}

$color_blue: #002255;
$color_gray: #b3b3b3;

$color_cyan: #4099BB;

#menubar {
    @include wfull;
    position: fixed;
    z-index: 99;
    top: -2.75em;
    -skrollr-animation-name: animation1;
    -skrollr-anchor-target: '#box2';

    a {
        outline: 0;
        &:focus {
            background-color: darken($color_blue, 10%);
        }
    }
    img.logo {
        height: 2.45em;
        width: auto;
    }
}

@-skrollr-keyframes animation1 {
    start {
        position: fixed;
        top: -2.75em;
    }
    top {
        position: fixed;
        top: 0em;
    }
}

#box1 {
    background-image:url(../images/tile1.svg);
    height: 60vh;
    @include wfull;
    margin-bottom: -3px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div.logo {
        margin-right: 2vw;
        width: 18vw;
        height: 18vw;
        
        img:nth-child(1) {
            width: 100%;
            height: 100%;
            -skrollr-animation-name: animation2;
            -skrollr-anchor-target: '#box3';
        }
        img:nth-child(2) {
            width: 100%;
            height: 100%;
            position: relative;
            top: -100%;
            -skrollr-animation-name: animation3;
            -skrollr-anchor-target: '#box3';
        }
    }
    div.text {
        width: 64vw;
        height: auto;
    }
}

@-skrollr-keyframes animation2 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(360deg);
    }
}

@-skrollr-keyframes animation3 {
    start {
        transform: rotate(0deg);
    }
    top {
        transform: rotate(-360deg);
    }
}

#box2 {
    @include wfull;
    box-shadow: 0em 0em 0.56em 0.05em #a0a0a0;

    div.columns {
        padding: 3.0em 1.6em 1.6em 1.6em;
    }
    div:nth-child(1) { background-color: $color_cyan; }
    div:nth-child(2) { background-color: darken($color_cyan, 10%); }
    div:nth-child(3) { background-color: darken($color_cyan, 20%); }

    h4 {
        a {
            color: #ffffff;
            text-shadow: 1px 1px 1px #606060;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    p {
        color: #ffffff;
    }
}

#box3 {
    background-image:url(../images/tile2.svg);
    height: 100vh;
    @include wfull;
    -skrollr-animation-name: animation4;
}

@-skrollr-keyframes animation4 {
    start {
        position: static;
    }
    top {
        position: fixed;
        top: 0;
    }
}

