@import "settings";
@import "foundation";
@import "_foundation-icons";
@import "animation.scss";

@mixin wfull { width: 100%; }
@mixin hfull { height: 100vh; }

.clear { clear: both; }

$color_blue: #002255;
$color_gray: #b3b3b3;

$color_cyan1: #4099BB;
$color_cyan2: darken($color_cyan1, 10%);
$color_cyan3: darken($color_cyan2, 10%);

@mixin logo {
    div.logo {
        width: 18vw;
        height: 18vw;
        img:nth-child(1) {
            width: 100%;
            height: 100%;
            -skrollr-animation-name: animation1;
        }
        img:nth-child(2) {
            width: 100%;
            height: 100%;
            position: relative;
            top: -100%;
            -skrollr-animation-name: animation2;
        }
    }
}

#menubar {
    @include wfull;
    position: fixed;
    z-index: 99;
    -skrollr-animation-name: animation3;
    -skrollr-anchor-target: '#box2';
    a {
        outline: 0;
        &:focus {
            background-color: darken($color_blue, 10%);
        }
    }
    img.logo {
        height: 2.45em;
        width: auto;
        margin-bottom: 4px;
    }
}

#box1 {
    background-image: url(../images/tile1.svg);
    >div:nth-child(1) {
        position: absolute;
        top: 1.0rem;
        right: 1.0rem;
        ul {
            li {
                margin-left: 0.25rem;
            }
        }
    }
    >div:nth-child(2) {
        height: 66vh;
        @include wfull;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include logo;
        div.text {
            margin-left: 2vw;
            width: 64vw;
            height: auto;
        }
    }
}

#box2 {
    background-image: url(../images/tile1.svg);
    @include wfull;
    article {
        padding: 0rem;
        >div.title {
            border-image: url(../images/tile2.svg) 17 0 0 0 repeat;
            border-style: solid;
            border-width: 10px 0px;
            height: 34vh;
            padding-top: 16px;
            padding-bottom: -8px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            h3 {
                color: #ffffff;
            }
            img {
                height: 55%;
                width: auto;
            }
        }
        p {
            padding-top: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    >article:nth-child(1)>div.title {
        background-color: $color_cyan1;
    }
    >article:nth-child(2)>div.title {
        background-color: $color_cyan2;
    }
    >article:nth-child(3)>div.title {
        background-color: $color_cyan3;
    }
}

@mixin separator($color) {
    .separator {
        height: 1.0rem;
        background-color: $color;
    }
}

@mixin landscape($image) {
    background-image: $image;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}

@mixin box($color, $image, $height) {
    @include wfull;
    @include separator($color);
    >.landscape {
        @include landscape($image);
        height: $height;
    }
    >.slideshow {
        position: fixed;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        >.slide {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            max-width: 960px;
            -skrollr-anchor-target: '#box4>.landscape';
            p {
                font-size: 120%;
                padding: 0 1.0rem;
            }
        }
        >.slide:nth-child(1) {
            -skrollr-animation-name: animation4;
        }
        >.slide:nth-child(2) {
            -skrollr-animation-name: animation5;
        }
        >.slide:nth-child(3) {
            -skrollr-animation-name: animation6;
        }
    }
}

#box3 {
    $color: #000000;
    $image: url(../images/background1.svg);
    @include box($color_cyan1, $image, 3000px);
}

#box4 {
    $color: #000000;
    $image: url(../images/background2.svg);
    @include box($color_cyan2, $image, 3000px);
}

#box5 {
    $color: #000000;
    $image: url(../images/background3.svg);
    @include box($color_cyan3, $image, 3000px);
}

