section#pricing
    .grid
        h1 Lista de Precios Estimados

        h2 Infraestructura
        table
            tr
                td Servidor WEB (Apache, Nginx)
                td 28$
            tr
                td Servidor Base de Datos (Mysql, Postgres, NoSQL)
                td 21$
            tr
                td Servidor Mail (Zimbra)
                td 112$
            tr
                td Servidor Proxy (Squid)
                td 28$
            tr
                td Servidor DHCP
                td 21$
            tr
                td Servidor de monitorizacion
                td 35$
            tr
                td Virtualizacion (KVM, Xen. oVirt, ESXi)
                td 56 $ - 112 $
            tr
                td Instalacion de Sistema Operativo (Windows/GNU/Linux)/BSD)
                td 14 $ - 28 $
            tr
                td Servidor DNS
                td 21$
            tr
                td Dise침o de infraestructura
                td Gratuito
            tr
                td Despliegue de servidores de alta disponibilidad y/o alto rendimiento
                td 280$
        h2 Ethical Hacking
        table
            tr
                td Ethical Hacking
                td 500$
            tr
                td Pentesting
                td 1.200$
            tr
                td Gestion de Riesgos
                td 800$
            tr
                td Gestion de Incidentes
                td 800$
        h2 Desarrollo de Software
        table
            tr  
                td Creaci칩n del sitio web corporativo
                td 224$ - 560 $
            tr  
                td Gesti칩n de imagen corporativa (Dise침o web)
                td 112$ - 280 $
            tr  
                td Soporte para tareas de marketing online
                td segun requerimiento
            tr  
                td Gestion de posicionamiento en buscadores
                td 56$
            tr  
                td Hosting
                td 
            tr  
                td Dominio (com, net, org, biz)
                td 20$

