section#pricing
    .grid
        h1 Lista de Precios Estimados

        table
            thead
                tr
                    td(colspan=3)
                        h2 Infraestructura
            tr(ng-class='{selected:data[0][2]}')
                td: input(type='checkbox',ng-model='data[0][2]',ng-change='calculate(0)')
                td Servidor WEB (Apache, Nginx)
                td {{data[0][0]}}
            tr(ng-class='{selected:data[1][2]}')
                td: input(type='checkbox',ng-model='data[1][2]',ng-change='calculate(1)')
                td Servidor Base de Datos (Mysql, Postgres, NoSQL)
                td {{data[1][0]}}
            tr(ng-class='{selected:data[2][2]}')
                td: input(type='checkbox',ng-model='data[2][2]',ng-change='calculate(2)')
                td Servidor Mail (Zimbra)
                td {{data[2][0]}}
            tr(ng-class='{selected:data[3][2]}')
                td: input(type='checkbox',ng-model='data[3][2]',ng-change='calculate(3)')
                td Servidor Proxy (Squid)
                td {{data[3][0]}}
            tr(ng-class='{selected:data[4][2]}')
                td: input(type='checkbox',ng-model='data[4][2]',ng-change='calculate(4)')
                td Servidor DHCP
                td {{data[4][0]}}
            tr(ng-class='{selected:data[5][2]}')
                td: input(type='checkbox',ng-model='data[5][2]',ng-change='calculate(5)')
                td Servidor de monitorizacion
                td {{data[5][0]}}
            tr(ng-class='{selected:data[6][2]}')
                td: input(type='checkbox',ng-model='data[6][2]',ng-change='calculate(6)')
                td Virtualizacion (KVM, Xen. oVirt, ESXi)
                td {{data[6][0]}}
            tr(ng-class='{selected:data[7][2]}')
                td: input(type='checkbox',ng-model='data[7][2]',ng-change='calculate(7)')
                td Instalacion de Sistema Operativo (Windows/GNU/Linux)/BSD)
                td {{data[7][0]}}
            tr(ng-class='{selected:data[8][2]}')
                td: input(type='checkbox',ng-model='data[8][2]',ng-change='calculate(8)')
                td Servidor DNS
                td {{data[8][0]}}
            tr(ng-class='{selected:data[9][2]}')
                td: input(type='checkbox',ng-model='data[9][2]',ng-change='calculate(9)')
                td Dise침o de infraestructura
                td Gratuito
            tr(ng-class='{selected:data[10][2]}')
                td: input(type='checkbox',ng-model='data[10][2]',ng-change='calculate(10)')
                td Despliegue de servidores de alta disponibilidad y/o alto rendimiento
                td {{data[10][0]}}
            thead
                tr
                    td(colspan=3)
                        h2 Ethical Hacking
            tr(ng-class='{selected:data[11][2]}')
                td: input(type='checkbox',ng-model='data[11][2]',ng-change='calculate(11)')
                td Ethical Hacking
                td {{data[11][0]}}
            tr(ng-class='{selected:data[12][2]}')
                td: input(type='checkbox',ng-model='data[12][2]',ng-change='calculate(12)')
                td Pentesting
                td {{data[12][0]}}
            tr(ng-class='{selected:data[13][2]}')
                td: input(type='checkbox',ng-model='data[13][2]',ng-change='calculate(13)')
                td Gestion de Riesgos
                td {{data[13][0]}}
            tr(ng-class='{selected:data[14][2]}')
                td: input(type='checkbox',ng-model='data[14][2]',ng-change='calculate(14)')
                td Gestion de Incidentes
                td {{data[14][0]}}
            thead
                tr
                    td(colspan=3)
                        h2 Desarrollo web
            tr(ng-class='{selected:data[15][2]}')
                td: input(type='checkbox',ng-model='data[15][2]',ng-change='calculate(15)')
                td Creaci칩n del sitio web corporativo
                td {{data[15][0]}}
            tr(ng-class='{selected:data[16][2]}') 
                td: input(type='checkbox',ng-model='data[16][2]',ng-change='calculate(16)')
                td Gesti칩n de imagen corporativa (Dise침o web)
                td {{data[16][0]}}
            tr(ng-class='{selected:data[17][2]}')
                td: input(type='checkbox',ng-model='data[17][2]',ng-change='calculate(17)')
                td Soporte para tareas de marketing online y social media
                td {{data[17][0]}}
            tr(ng-class='{selected:data[18][2]}')
                td: input(type='checkbox',ng-model='data[18][2]',ng-change='calculate(18)')
                td Gestion de posicionamiento en buscadores
                td {{data[18][0]}}
            tr(ng-class='{selected:data[19][2]}')
                td: input(type='checkbox',ng-model='data[19][2]',ng-change='calculate(19)')
                td Hosting (precio anual)
                td {{data[19][0]}}
            tr(ng-class='{selected:data[20][2]}')
                td: input(type='checkbox',ng-model='data[20][2]',ng-change='calculate(20)')
                td Compra de dominios (precio anual para com, net, org, biz)
                td {{data[20][0]}}
            tfoot
                tr
                    td &nbsp;
                    td Total estimado ($us)
                    td {{total}}

