section#topics
    .icons
        .security
            .logo
            .text
                span Seguridad Informática
        .development
            .logo
            .text
                span Desarrollo de Sistemas
        .sysadmin
            .logo
            .text
                span Infraestructura IT

