section#development(data-menu-offset='-35')
    .grid
        h1 Desarrollo de Sistemas
        p.
            Cuando su negocio o infraestructura técnica requiere funcionalidad
            adicional, Hiperbórea tiene la capacidad de realizar desarrollo de
            aplicaciones y asistencia especializada.
        p.
            Ya sea que esté integrando con un tercero o un sistema propietario o
            trata de ampliar su solución para satisfacer una oportunidad de negocio
            específica.
        p.
            Nosotros trabajamos junto a usted para crear un entorno de seguridad
            robusto y confiable.
        p.
            Esta funcionalidad personalizada puede desempeñar un papel fundamental
            en la ampliación de su solución de seguridad, que le permita integrarse
            con éxito con otros sistemas e infraestructura.
        p.
            También puede utilizar nuestros servicios para aumentar la productividad
            mediante la adición de capacidades de automatización que permitirá a su
            organización aprovechar nuevas oportunidades de negocio.
        p Nosotros te ofrecemos:

        .cols
            h2 Desarrollo de aplicaciones web
            p.
                En Hiperbórea nos especializamos en la construcción de soluciones libres
                para la web, con tecnologías JavaScript tanto en lado del cliente, como
                también de lado del servidor.

        .cols
            h2 Desarrollo de aplicaciones móviles
            p.
                Nosotros nos preocupamos por la accesibilidad y la conectitividad de los
                sistemas en todo momento y todo lugar, podemos ofrecerte:
            ul
                li Desarrollo de aplicaciones para Android.
                li Desarrollo de open web apps.

        .cols
            h2 Desarrollo de aplicaciones en tiempo real
            p.
                En Hiperbórea creemos que el mundo del mañana será descentralizado y en
                tiempo real, por tal razón ofrecemos soluciones que utilicen las
                tecnologías node.js/socket.io y así reducir los tiempos de
                respuesta y la producción de resultados mas eficaces.

