{{partial "_menu"}}

<section class="block">
    <h1>Infraestructura IT</h1>
    <p>Se centra en la capacidad operativa de la infraestructura IT, que son
    esenciales para el seguimiento de las condiciones de seguridad o de
    cumplimiento critico.</p>
    <p>Nuestra responsabilidad es diseñar, implementar, ejecutar y asegurar el
    correcto funcionamiento de su infraestructura IT.</p>

    <h2>Gestión de Infraestructura IT</h2>
    <p>Integramos las mejores herramientas para alcanzar sus objetivos. La
    infraestructura IT afecta a cada aspecto de su organización por lo que es
    crucial contar con una gestión efectiva. Nuestro abanico de soluciones van
    desde el cableado estructurado que soportan servicios de datos, telefonía, y
    vídeo, hasta la construcción de salas de servidores y telecomunicaciones
    utilizando las mejores practicas.</p>

    <h2>Seguridad Perimetral</h2>
    <p>Ofrecemos soluciones adaptadas a cada cliente para garantizar que su
    empresa opere bajo niveles aceptables de seguridad, que proteja su inversión
    y la información vital del negocio, que comprometan sus activos o su
    continuidad de negocio, guiándonos siempre por los mas exigentes estándares
    internacionales.</p>

    <h2>Gestión de servicios bajo plataformas GNU/Linux</h2>
    <p>Contamos con un equipo de profesionales que ofrece las mejores soluciones
    bajo plataformas GNU/Linux adaptadas a las necesidades de nuestros clientes,
    con el claro objetivo de optimizar sus costos operativos y lograr un óptimo
    uso de sus recursos.</p>
</section>

<div style="height:20vh;"></div>

