doctype html
html(lang='en')
    head
        title ~ Hiperb贸rea ~ Seguridad de la Informaci贸n ~
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(name='keywords',content='security, web, it, sysadmin, vulnerabilities, ethical hacking, risk, networks, internet')
        meta(name='description',content='Empresa de seguridad de la informaci贸n, especializada en la protecci贸n de sitios web')
        link(rel='shortcut icon',href='/favicon.ico')
        <!--link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')-->
        link(rel='stylesheet',href='/style.css')
    body
        #wrapper
            include menu
            include 01-logo
            include 02-topics
            include 03-about
            include 04-details
            include 05-contact
            include 06-security
            include 07-development
            include 08-sysadmin
        block env

