section#contact
    .left
        dl
            dt Correo electrónico:
            dd info@hiperborea.com.bo
            dt Dirección:
            dd Calle Sucre y 16 de Julio
            dd Cochabamba-Bolivia
        .clear
    .right
        ul
            li
                a.fa.fa-ghost(href='http://blog.hiperborea.com.bo',target='_BLANK')
            li
                a.fa.fa-github(href='https://github.com/hiperborea',target='_BLANK')
        .clear

