extends ./base.jade

block env
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/skrollr/dist/skrollr.min.js')
    script(src='vendor/skrollr-menu/dist/skrollr.menu.min.js')
    script(src='js/app.js')

