doctype html
html(lang='en')
    head
        title ~ Hiperbórea ~ Seguridad de la Información ~
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(name='keywords',content='security, web, it, sysadmin, vulnerabilities, ethical hacking, risk, networks, internet')
        meta(name='description',content='Empresa de seguridad de la información, especializada en la protección de sitios web')
        link(rel='shortcut icon',href='/favicon.ico')
        link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
        link(rel='stylesheet',href='/style.css')
    body
        section#front
            .wrapper
                .logo
                    .gray
                    .blue
                .text
            .icons
                .security
                    .logo
                    .text
                        h2 Seguridad Informática
                .development
                    .logo
                    .text
                        h2 Desarrollo de Sistemas
                .sysadmin
                    .logo
                    .text
                        h2 Infraestructura IT
        section#details
            .col
                h3 Seguridad Informática
                p Nunca se alcanza la seguridad absoluta, pero nosotros te acercamos a ella mediante nuestros servicios.
                ul
                    li Auditoría de seguridad interna.
                    li Auditoría de seguridad externa.
                    li Auditoría de seguridad de código fuente.
            .col
                h3 Desarrollo de Sistemas
                p Porque sabemos que las soluciones deben adaptarse a los cambios. Podemos ofrecerte los siguientes servicios:
                ul
                    li Desarrollo de aplicaciones web.
                    li Desarrollo de aplicaciones mobiles.
                    li Desarrollo de aplicaciones en tiempo real.
            .col
                h3 Infraestructura IT
                p Nosotros te ayudamos a reducir costos, mientras se incrementa la efectividad de tu infraestructura IT.
                ul
                    li Soporte de servidores.
                    li Seguridad perimetral.
                    li Soporte a plataformas GNU/Linux.
        section#contact
            .left
                dl
                    dt Correo electrónico:
                    dd info@hiperborea.com.bo
                    dt Dirección:
                    dd Calle Sucre y 16 de Julio
                    dd Cochabamba-Bolivia
                .clear
            .right
                ul
                    li
                        a.fa.fa-user(href='http://blog.hiperborea.com.bo',target='_BLANK')
                    li
                        a.fa.fa-github(href='https://github.com/hiperborea',target='_BLANK')
                .clear
        script(src='vendor/jquery/dist/jquery.min.js')
        script(src='vendor/skrollr/dist/skrollr.min.js')
        script(src='vendor/skrollr-menu/dist/skrollr.menu.min.js')

