doctype html
html(lang='en')
    head
        title ~ Hiperb贸rea ~ Seguridad de la Informaci贸n ~
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        meta(name='keywords',content='security, web, it, sysadmin, vulnerabilities, ethical hacking, risk, networks, internet')
        meta(name='description',content='Empresa de seguridad de la informaci贸n, especializada en la protecci贸n de sitios web')
        link(rel='shortcut icon',href='/favicon.ico')
        link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
        link(rel='stylesheet',href='/style.css')
    body
        #wrapper
            .screen
                .brand
                    .icon
                        .back
                        .front
                    .text
                .bar
                    a.icon.security
                    a.icon.development
                    a.icon.sysadmin
        block env

