section#intro
    p Hiperbórea es una empresa emergente que provee principalmente soluciones de seguridad de la información, que ayudan a nuestros clientes a resolver los desafíos de seguridad más complejos y sensibles, la detección de fraudes, y la protección de datos, que permitan mitigar los riesgos, garantizar el cumplimiento y acelerar los objetivos de su negocio.
    p Utilizamos las mejores prácticas en infraestructura IT, ademas ofrecemos servicios de consultoría, servicios online y conferencias diseñadas para ayudar a nuestros clientes a obtener un verdadero soporte para su empresa lo que les asegurará rendimientos mayores.
    p Para apoyar a su organización tanto local como globalmente, contamos con un amplio abanico de servicios que les podrá ayudar a solucionar los problemas mas exigentes, para así poder alcanzar sus objetivos.

