<header data-0="top: -3.3rem;" data-250="top:0rem;">
    <nav>
        <ul class="left">
            <li>{{#link-to "index"}}Hiperbórea{{/link-to}}</li>
        </ul>
        <ul class="right">
            <li>{{#link-to "security"}}Seguridad{{/link-to}}</li>
            <li>{{#link-to "development"}}Desarrollo{{/link-to}}</li>
            <li>{{#link-to "sysadmin"}}Infraestructura IT{{/link-to}}</li>
            <li><a href="http://blog.hiperborea.com.bo"
                   target="_BLANK">Blog</a></li>
        </ul>
    </nav>
</header>

