header(data-start='top: -3.5rem;',data-top-bottom='top:0rem;',data-anchor-target='#contact')
    nav
        ul.left
            li: a(href='') Hiperbórea
        ul.right
            li
                a(href='#security',title='Seguridad Informática')
                    .icon.security
                    .text Seguridad
            li
                a(href='#development',title='Desarrollo de Sistemas')
                    .icon.development
                    .text Desarrollo
            li
                a(href='#sysadmin',title='Infraestructura IT')
                    .icon.sysadmin
                    .text Infraestructura IT
            li
                a(href='http://blog.hiperborea.com.bo',target='_BLANK',title='Blog hiperbórea')
                    .icon.ghost
                    .text Blog

