section#topics
    .icons
        .security
            a.logo(href='#security')
            .text
                span Seguridad Informática
        .development
            a.logo(href='#development')
            .text
                span Desarrollo de Sistemas
        .sysadmin
            a.logo(href='#sysadmin')
            .text
                span Infraestructura IT

