section#contact
    .grid
        .left
            dl
                dt.address
                dd Avenida Teófilo Vargas #431
                dd Cochabamba-Bolivia
                dt.phone
                dd +591 4 403 84 06 / 727-03779
                dt.email
                dd info@hiperborea.com.bo
            .clearfix
        .right
            ul
                li
                    a.ghost(href='http://blog.hiperborea.com.bo',target='_BLANK')
                li
                    a.github(href='https://github.com/hiperborea',target='_BLANK')
            .clearfix

