<div id="front">
    <div class="wrapper">
        <div id="logo">
            <div class="gray"></div>
            <div class="blue"></div>
        </div>
        <div id="textlogo"></div>
    </div>
</div>

