<div id="front">
    <div class="wrapper">
        <div id="logo">
            <div class="gray"></div>
            <div class="blue"></div>
        </div>
        <div id="textlogo"></div>
    </div>
</div>
<div class="row">
    <div class="item">
        <h2>Seguridad Informática</h2>
    </div>
    <div class="item">
        <h2>Desarrollo de sistemas</h2>
    </div>
    <div class="item">
        <h2>Infraestructura IT</h2>
    </div>
</div>

