<section id="front">
    <div class="wrapper">
        <div class="logo">
            <div class="gray"></div>
            <div class="blue"></div>
        </div>
        <div class="text"></div>
    </div>
    <div id="topics">
        <div class="security">
            <div class="logo"></div>
            <div class="text"><h2>Seguridad Informática</h2></div>
        </div>
        <div class="development">
            <div class="logo"></div>
            <div class="text"><h2>Desarrollo de Sistemas</h2></div>
        </div>
        <div class="sysadmin">
            <div class="logo"></div>
            <div class="text"><h2>Infraestructura IT</h2></div>
        </div>
    </div>
</section>
<footer>
    <div class="col">
        <h3>Seguridad Informática</h3>
        <ul>
            <li>Auditoría de seguridad interna.</li>
            <li>Auditoría de seguridad externa.</li>
            <li>Auditoría de seguridad de código fuente.</li>
        </ul>
    </div>
    <div class="col">
        <h3>Desarrollo de Sistemas</h3>
        <ul>
            <li>Desarrollo de aplicaciones web.</li>
            <li>Desarrollo de aplicaciones mobiles.</li>
            <li>Desarrollo de aplicaciones en tiempo real.</li>
        </ul>
    </div>
    <div class="col">
        <h3>Infraestructura IT</h3>
        <ul>
            <li>Soporte de servidores.</li>
            <li>Seguridad perimetral.</li>
            <li>Soporte a plataformas GNU/Linux.</li>
        </ul>
    </div>
</footer>

