<section id="front">
    <div class="wrapper">
        <div class="logo">
            <div class="gray"></div>
            <div class="blue"></div>
        </div>
        <div class="text"></div>
    </div>
</section>

<section id="topics">
    <div class="security">
        <div class="logo"></div>
        <div class="text">
            <h2>Seguridad informática</h2>
        </div>
    </div>
    <div class="development">
        <div class="logo"></div>
        <div class="text">
            <h2>Desarrollo de sistemas</h2>
        </div>
    </div>
    <div class="sysadmin">
        <div class="logo"></div>
        <div class="text">
            <h2>Infraestructura IT</h2>
        </div>
    </div>
</section>

<section id="security">
asdf
</section>

