{{partial "_menu"}}

<div class="block">

<h1>Seguridad Informática</h1>

<p>
    Para garantizar la seguridad de sus sistemas se requiere de un conjunto de
    métodos y herramientas destinados a proteger la información, es aquí donde
    entran los servicios de Hiperbórea.
</p>
<p>
    Nuestros servicios están orientados a la seguridad informática aplicando una
    gran variedad de métodos para realizar pruebas, incluyendo tácticas de
    ingeniería social, uso de herramientas de hacking, uso de códigos que
    explotan vulnerabilidades conocidas.
</p>
<p>
    Desde el punto de vista de un atacante real, que conlleven a vulnerar la
    seguridad y entrar a las áreas críticas de las organizaciones.
</p>

<h2>Auditoría de Seguridad Interna</h2>
<p>
    El entorno privado de una empresa u organización puede ser un esquema
    complejo y foco de vulnerabilidades, por ello y debido a la importancia de
    evitar la fuga o robo de información confidencial de la empresa, es vital
    que hiperbórea te ayude mediante una auditoría interna que verifique el
    estado de la seguridad de su empresa, mediante la simulación de un ataque
    llevado a cabo desde el interior.
</p>
<p>
    En la auditoría de seguridad interna o auditoría de caja blanca asumimos el
    rol de un usuario que dispone de acceso a los sistemas internos de la
    empresa, bien porque sea el dueño de las credenciales o porque mediante un
    ataque ha elevado privilegios de forma ilícita.
</p>
<p>
    En este tipo de auditoría tenemos como objetivo detectar y mitigar:
</p>
<ul>
    <li>Vulnerabilidades en servidores internos.</li>
    <li>Comunicaciones NO seguras.</li>
    <li>Malas configuraciones.</li>
    <li>Sistemas desactualizados.</li>
    <li>Redes Wireless no seguras.</li>
    <li>En definitiva potenciales vectores de ataque que puedan provocar robo
        de información sensible en su empresa.</li>
</ul>

<h2>Auditoría de Seguridad Externa</h2>
<p>
    Hoy en día, las empresas disponen de gran cantidad de servicios públicos los
    cuales pueden ser una pasarela hacia su información o sus datos sensibles.
    Por lo cual Hiperbórea realiza una auditoría de seguridad externa o
    auditoría de caja negra asume el rol de un atacante externo a la empresa o
    hacker que sin el conocimiento de ninguna información previa puede obtener
    algún beneficio de la organización o, incluso, acceso a información
    sensible.
</p>
<p>
    Este tipo de auditoría pretende valorar el grado de seguridad de la red
    externa de su empresa y mediante la simulación de un ataque externo se
    evalúa la seguridad.
</p>
<p>
    Como objetivo tenemos descubrir:
</p>
<ul>
    <li>Vulnerabilidades en los servicios públicos y fallos de seguridad.</li>
    <li>Aumentar la seguridad mediante la presentación de planes de mejora que
        deben ser implantados en su empresa.</li>
</ul>

<h2>Auditoría de Seguridad de código fuente</h2>
<p>
    Para el proceso de auditoría de código fuente se procede a usar el método de
    auditoría de caja blanca, en el que partiendo del código fuente de una
    aplicación se procede a su análisis en busca de fallos de diseño y seguridad
    que puedan ser explotados por atacantes.
</p>
<p>
    Trabajamos en distintas áreas:
</p>
<ul>
    <li>Aplicaciones web.</li>
    <li>Aplicaciones de escritorio tradicionales.</li>
    <li>Aplicaciones de dispositivos móviles.</li>
</ul>

</div>

